<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
        <div class="col-md-4 mb-2 mb-md-0 d-flex align-items-center">

            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="../static/images/logo4.png" alt="Bootstrap" width="110" height="70">
            </a>

            <a href="/bookshop/base/static" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <form class="d-flex" role="search" action="">
                <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary link-#526461 --bs-light-border-subtle" type="submit">Search</button>
            </form>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'books' %}" class="nav-link px-2 link-secondary">წიგნები</a></li>
            <li><a href="{% url 'series' %}" class="nav-link px-2 link-secondary">სერიები</a></li>
            <li><a href="{% url 'authors' %}" class="nav-link px-2 link-secondary">ავტორები</a></li>
            <li><a href="{% url 'about' %}" class="nav-link px-2 link-secondary">ჩვენ შესახებ</a></li>

            {% if request.user.is_authenticated %}
            <li><a href="{% url 'profile' user.id %}" class="nav-link px-2 link-secondary">კალათა</a></li>
            {% endif %}
        </ul>

        <div class="col-md-3 text-end d-flex align-items-center">
            {% if request.user.is_authenticated %}
            <a href="{% url 'update_user'  %}" class="user-info d-flex align-items-center me-3 text-decoration-none">
                <img src="{{ request.user.avatar.url }}" alt="User Avatar" class="rounded-circle me-2" width="40" height="40">
                <span class="user-name">{{ request.user.name }}</span>
            </a>
            <a href="{% url 'logout' %}">
                <button type="button" class="btn btn-outline me-2 link-light" style="background-color: #999999">Log out</button>
            </a>
            {% else %}
            <a href="{% url 'login' %}">
                <button type="button" class="btn btn-outline me-2 link-light" style="background-color: #999999">Login</button>
            </a>
            <a href="{% url 'registration' %}">
                <button type="button" class="btn btn-outline me-2 link-light" style="background-color: #4f4f4f">Sign-up</button>
            </a>
            {% endif %}
        </div>
    </header>
</div>

<style>
    .user-info {

        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .user-info img {
        border-radius: 50%;

    }
    .user-name {
        font-weight: bold;
        font-size: 1.2rem;


    }
</style>
