{% extends 'main.html' %}

{% block content %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item" style="background-image: url('../../static/images/clasic.jpg');">
            <svg class="bd-placeholder-img" width="100%" height="500px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Short classics</h1>
                    <p class="opacity-75">News for lovers of classics</p>
                    <p><a href="#" class="btn btn-outline me-2 link-light" style="background-color: #999999">Show the catalog</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../static/images/kids.jpg');">
            <svg class="bd-placeholder-img" width="100%" height="500px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>New books for kids</h1>
                    <p>Discover new adventures</p>
                    <p><a href="#" class="btn btn-outline me-2 link-light" style="background-color: #999999">Show the catalog</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item active" style="background-image: url('../../static/images/discount.jpg');">
            <svg class="bd-placeholder-img" width="100%" height="500px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Get 40% discount</h1>
                    <p>Take advantage of offers on selected books</p>
                    <p><a href="#" class="btn btn-outline me-2 link-light" style="background-color: #999999">Show the catalog</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<style>
    .card-custom {
        border: none;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        height: 85%;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        background: #f8f9fa;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-custom:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .card-custom .card-img-top {
        height: 300px; /* Increased height for the image */
        object-fit: cover;
    }

    .card-custom .card-img-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: opacity 0.3s ease;
    }

    .card-custom:hover .card-img-overlay {
        opacity: 1;
    }

    .card-custom .card-body {
        padding: 1.25rem;
        height: 200px;
        display: flex;
        flex-direction: column;
    }

    .card-custom .card-title {
        font-size: 1.2rem;
        color: #343a40;
        margin-bottom: 0.5rem;
    }

    .card-custom .text-muted {
        font-size: 0.9rem;
        color: #6c757d;
        margin-bottom: 0.75rem;
    }

    .card-custom .card-text {
        font-size: 1rem;
        color: #343a40;
        margin-bottom: 1rem;
        flex-grow: 1;
    }

    .card-custom .btn {
        font-size: 0.9rem;
        padding: 8px 16px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        margin: 5px;
    }

    .card-custom .btn-outline-secondary {
        color: #fff;
        border: 1px solid #ccc;
        background-color: transparent;
    }

    .card-custom .btn-outline-secondary:hover {
        background-color: #f0f0f0;
        color: #333;
    }

    .bestsellers-heading {
        padding: 50px;
        color: black;
        text-align: center;
    }
</style>

<h1 class="bestsellers-heading">Bestsellers</h1>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
        {% for bestseller in bestseller_books %}
            {% for book in bestseller.books.all %}
                <div class="col mb-4">
                    <div class="card card-custom shadow-sm">
                        <img src="{{ book.picture.url }}" class="card-img-top" alt="Book Image">
                        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                            <a href="{% url 'book' book.id %}">
                                <button type="button" class="btn btn-outline-secondary btn-sm">View</button>
                            </a>
                            <a href="{% url 'adding' book.id %}">
                                <button type="button" class="btn btn-outline-secondary btn-sm">Add to Cart</button>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ book.name }}</h5>
                            <h6 class="text-muted">{{ book.author.name }}</h6>
                            <p class="card-text">{{ book.price }} $</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<a style="padding: 30px" href="{% url 'add' %}"><button>Add Book</button></a>

{% endblock %}
