{% extends 'main.html' %}


{% block content %}

<style>
  .custom-card {
    width: 95%;
    height: 400px;
    color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
  }

  .custom-card:hover {
    transform: scale(1.05);
  }

  .custom-card h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .custom-card .card-title {
    font-size: 1.2rem;
  }

  .custom-card .btn {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.2s;
  }

  .custom-card .btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
</style>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" style="padding-left: 40px;">
  {% for serie in series %}
  <div class="col">
    <div class="custom-card" style="background-image: url('{{ serie.picture }}');">
      <div class="card-body">
        <h5 class="card-title" >{{ serie.name }}</h5>
      </div>
      <div>
        <button class="btn">{{ serie.title }}</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

 {% endblock %}
