{% extends 'main.html' %}

{% block content %}
<style>
    .cart-container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        background-color: #f8f8f8;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .book-item {
        padding: 15px;
        margin-bottom: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .book-title {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #333333;
    }
    .book-details {
        display: flex;
        align-items: center;
    }
    .book-image {
        width: 120px;
        height: 180px;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 20px;
    }
    .book-info {
        flex: 1;
    }
    .book-author,
    .book-price {
        font-size: 1.1em;
        margin: 5px 0;
        color: #666666;
    }
    .book-author strong,
    .book-price strong {
        color: #333333;
    }
    .book-actions {
        margin-top: 10px;
    }
    .book-actions button {
        padding: 10px 15px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }
     .view-button {
        color: black;
    }
    .view-button:hover {
        background-color: #6c757d;
        color: #ffffff;
    }
    .delete-button {
        color: #e74c3c;
    }
    .delete-button:hover {
        background-color: #e74c3c;
        color: #ffffff;
    }
    .total-price {
        text-align: right;
        font-size: 1.5em;
        color: #333333;
    }
</style>

<div class="cart-container">
    {% for book in books %}
    <div class="book-item">
        <h2 class="book-title">{{ book.name }}</h2>
        <div class="book-details">
            <img class="book-image" src="{{ book.picture.url }}" alt="{{ book.name }}">
            <div class="book-info">
                <p class="book-author"><strong>Author:</strong> {{ book.author }}</p>
                <p class="book-price"><strong>Price:</strong> ${{ book.price }}</p>
                <div class="book-actions">
                <a href="{% url 'book' book.id %}"> <button class="view-button">View</button> </a>
                    <a href="{% url 'delete' book.id %}">  <button class="delete-button">Delete</button> </a>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
    <hr>
    <p class="total-price">Total Price: ${{ total_price }}</p>
</div>
{% endblock %}
