{% extends 'main.html' %}


{% block content %}

  <h1 style="padding: 50px;">My Cart</h1>


<div style="display: flex;">
  {% for book in books %}
  <div class="card" style="width: 18rem; margin-left: 30px;">
  <img src="{{ book.picture }}" class="card-img-top" alt="...">
  <div class="card-body" style="padding: 40px;">
    <h5 class="card-title">{{book.name}}</h5>
    <h6>{{book.author}}</h6>
    <p class="card-text">{{book.description}}</p>
    <a href="#" class="btn btn-primary">Show</a>
  </div>
    </div>

  {% endfor %}

</div>

 {% endblock %}


